body{
	background-image: url("../images/background2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Didact Gothic', sans-serif;
    margin: 130px;
    color: #161616;
}

.container{
	background:rgba(255,255,255, 0.4);
	margin: 60px;
}

.wrapper{
	margin: auto;
	/*border: #161616 30px solid;*/
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1{
	text-align: center;
	padding-top: 30px;
	font-size: 40px;
}

h3, h2{
	text-align: center;
	padding: 30px;
}

#content{
	padding: 40px;
	font-size: 17px;
}

#doneButton, #startButton{
	width: 250px;
	margin: 0 auto;
	display: block;
	background-color: #5b5953; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

#startButton:hover , #doneButton:hover{
	background-color: #353430;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}